body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    .App {
    text-align: center;
    overflow: hidden;
    }

    .App-logo {
        height: 50px;
        float: left;
    }

    .App-header {
        background-color: #222;
        height: 150px;
        color: white;
    }

    .App-title {
        font-size: 1.5em;
        width: 250px;
        margin-left: 15px;
        float: left;
    }

    .App-intro {
        font-size: large;
    }

    .App-gif {
        margin-left: -60px;
        margin-top: 59px;
        float: left;
        position: absolute;

        &--small {
            width: 300px;
            margin-top: 20px;
        }
    }

}

