footer {
    background: #200B45;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 13px;
    color: turquoise;
    font-size:12px;
    height: 100%;

    p {
        margin: 0;
    }
    a {
        display: block;
        margin-top:0;
        padding:15px;
        color: white;
        font-size:10px;
    }
}